<template name="home">
  <div class="template-home">
    
    
      <div class="container">
        <div class="jumbotron">
          <h1>Morning 5</h1>
          <p class="lead">Morning project management with a coffee</p>
          <p><a href ="{{pathFor 'dashboard'}}" class="btn btn-lg btn-success">My projects</a></p>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <h2><i class="fa fa-users"></i>Team Building</h2>
            <p>Invite your project team to collaborate on your project. They will automatically see your projects once they are invited</p>
          </div>
          <div class="col-lg-4">
            <h2><i class="fa fa-twitch"></i>Team Building</h2>
            <p>Invite your project team to collaborate on your project. They will automatically see your projects once they are invited</p>
          </div>
          <div class="col-lg-4">
            <h2><i class="fa fa-inbox"></i>Team Building</h2>
            <p>Invite your project team to collaborate on your project. They will automatically see your projects once they are invited</p>
          </div>
          <div class="col-lg-4">
            <h2><i class="fa fa-user"></i>Team Building</h2>
            <p>Invite your project team to collaborate on your project. They will automatically see your projects once they are invited</p>
          </div>
        <div class="col-lg-4">
            <h2><i class="fa fa-check-circle-o"></i>Team Building</h2>
            <p>Invite your project team to collaborate on your project. They will automatically see your projects once they are invited</p>
          </div>
          <div class="col-lg-4">
            <h2><i class="fa fa-comments"></i>Team Building</h2>
            <p>Invite your project team to collaborate on your project. They will automatically see your projects once they are invited</p>
          </div>
        </div>
        
        
      </div>
    
  </div>
</template>
